@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

body {
  font-family: 'League Gothic', sans-serif; }

p {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.3rem; }

.heading-3 {
  font-size: 4.2rem;
  font-weight: 400; }

.container {
  position: relative;
  display: flex;
  background-color: #101418;
  color: white;
  height: 100vh; }

.main {
  background-color: #181c20; }

.navigation {
  position: relative;
  background-color: #181c20;
  width: 18%;
  border-radius: 1.5rem;
  margin: 1.5rem;
  padding: 2.5rem; }
  .navigation__logo {
    margin-bottom: 6.3rem; }
  .navigation__list {
    list-style: none; }
    .navigation__list--link {
      font-size: 3.1rem;
      text-transform: uppercase;
      transition: color 0.4s ease; }
      .navigation__list--link:link, .navigation__list--link:visited {
        text-decoration: none;
        color: #96a0aa; }
      .navigation__list--link:hover, .navigation__list--link:active {
        color: #fff; }
    .navigation__list--link-active {
      color: #fff !important; }
  .navigation__footer {
    position: absolute;
    bottom: 2.5rem;
    display: flex; }
    .navigation__footer--avatar {
      height: 5rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.1rem; }
      .navigation__footer--avatar img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover; }
    .navigation__footer--dev {
      display: flex;
      flex-direction: column;
      justify-content: center; }
