.main {
  width: 88%;
  margin: 1.5rem 0.75rem;

  &__title {
    @include card();
    position: relative;
    min-height: 40vh;

    h1,
    p {
      position: absolute;
      bottom: 2.5rem;
    }
  }
}
